body{
    background-color: rgb(22, 126, 22);
    
}

form{
    border: 1px solid white;
    display: grid;
    width: 700px;
    height: 100%;
    
}

.listItems{
    margin: 10px;
    border: solid white;
    width: 500px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}


img{
    border-radius: 5px;
    border: 1px solid white;
}

button{
    
    height: 50px;
    color: greenyellow;
    border: 1px solid white
    
}



@media (max-width : 900px){
    form{
        width: 545px;
    }

}