#App {
  background-color: #FFF4F4;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  scroll-behavior: unset;
  
}


.mainContainer{
  color: #FFF4F4;
  
  font-size: 15px;
  font-family: 'Montserrat', sans-serif;
  height: 400px;
  width: 100%;
  grid-column: 1/4;
  grid-row: 1/2;
  display: grid; 
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 1fr);
  justify-content: center;
  scroll-behavior: smooth;
  
}


.golden-rod-box{
  
  width: 500px;
  grid-column: 1/2;
  grid-row: 1/3;
  background-color: darkgoldenrod;
  
}
.menu-icon{
  grid-row: 1/2;
  grid-column: 1/2;
  position: relative;
  cursor: pointer;
  
}
.menu-image{
  width: 100px;
  height: 90px;
  position: absolute;
 
}


.menu-pull{
  grid-column: 1/5;
  grid-row: 1/2;
  background-color: green;
  box-shadow: 20px 20px 20px 20px #2e2e2e25;

  width: 1200px;
  height: 210px;
  position: absolute;
  top: 0px;

  display: flex;
  justify-content: space-evenly;
  
  
}
.link{
  scroll-behavior: smooth;
  font-size: 50px;
  text-decoration: none;
  color:rgb(41, 40, 40);
  transition: margin-left 1s;
}

.link:hover{
  margin-left: 50px;
}

.link-icon{
  width: 20px;
}

.link-container{
  margin-top: 100px;
}



.dark-red-box{
  grid-row: 1/2;
  grid-column: 2/3;
  background-color: rgb(177, 50, 11);
  
}

.burlywood-box{
  grid-row: 1/5;
  grid-column: 3/5;
  background-color: burlywood;
  height: 823px;
  width: 240px;
  scroll-behavior: smooth;
}
.red-box{
  background-color: #f00;
  grid-row: 2/3;
  grid-column: 2/3;
  width: 700px;
  height: 200px;
  
}

.coral-box{
  background-color: coral;
  grid-row: 5/6;
  grid-column: 1/3;
  height: 123px;
}

.rectanlge-arrow{
  background-color: rgb(41, 40, 40);
  position: relative;
  height: 400px;
  width: 70px;
  grid-column: 3/5;
  grid-row: 1/2;
  margin-left: 100px;
  margin-top: 100px;
}

.triangle-arrow{
  border-left: 80px solid transparent;
  border-right: 80px solid transparent;
  border-top: 100px solid rgb(41, 40, 40);
  width: 0px;
  margin-right: 23px;
}


.introduction{
  grid-row: 1/2;
  grid-column: 1/5;
  margin-top: 300px;
  margin-left: 10px;
  position: relative;
  font-size: 40px;
  color: rgb(41, 40, 40);
  
}
.thingsDesigned{
  color: rgb(41, 40, 40);
  grid-row: 2/3;
  grid-column: 2/3;
  margin-left: 190px;
  margin-top: 95px;
  position: relative;
}




#eachInfo{
  border: 10px solid burlywood;
  margin-top: 200px;
  margin-left: 20px;
  margin-right: 20px;
  height: 700px;
  scroll-behavior: smooth;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}



.eachInfo1{
  border: 10px solid coral;
  margin-top: 200px;
  margin-left: 20px;
  margin-right: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;

}

.eachInfo2{
  border: 10px solid darkgoldenrod;
  margin-top: 200px;
  margin-left: 20px;
  margin-right: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;

  
}
.picture-of-me{
  width: 650px;
  height: 450px;
  border: 10px solid burlywood;
  border-radius: 5px;
  box-shadow: 20px 20px 20px 20px grey;
  margin: 50px;
}

#aboutMe{
  margin-top: 300px;
  grid-column: 1/4;
  grid-row: 3/4;
  background-color: #FFF4F4;
  display: flex;
  justify-content: space-evenly;
  scroll-behavior: smooth;
  
}
.aboutBox{
  display: flex;
  height: 450px;
  margin: 50px;
  flex-direction: column;
  align-items: center;
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  line-height: 1.6;

}
.aboutPara{
  font-size: 20px;
  margin: 20px;
  color: rgb(41, 40, 40);

}


#boxTitle{
  font-family: 'Montserrat', sans-serif;
  color: rgb(41, 40, 40);
  font-size:60px;
  margin: 10px;

}
.madeWith{
  margin: 20px;
}
.project{
  margin: 20px;
}
.siteButton{
  font-family: 'Montserrat', sans-serif;
  background-color:rgb(59, 57, 57) ;
  color: whitesmoke;
  border-radius: 5px;
  height: 70px;
  width: 200px;
  margin: 20px;
  margin-left: 100px;
  
}

.siteButton:hover{
  cursor: pointer;
}

footer{
  height: 500px;
  grid-row: 4/5;
  grid-column: 1/4;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  background-color: #FFF4F4;
  color: rgb(59, 57, 57);
  
}


.icons{
  width: 50px;
  height: 50px;
  margin-top: 5px;
  margin-right: 10px;
}


.iconBox{
  display: flex;
  transition: margin-left 1s
}
.iconName{
  text-decoration: none;
  color: rgb(59, 57, 57);

}

.iconBox:hover{
  margin-left: 40px;
}
@media only screen and (max-width: 1140px){
  .sideBox{
    width: 750px;
  }
  .introBox{
    width: 610px;
  }
  .headerBox2{
    width: 610px
  }
  .introduction{
    font-size: 70px;
  }
  img{
    width: 608px;
    height: 602px;
  }
}
@media only screen and (max-width: 1013px ){
  .sideBox{
    width: 700px
  }
  .introBox{
    width: 515px;
  }
  .headerBox2{
    width: 515px
  }
  .introduction{
    font-size: 60px;
    margin-top: 220px;
  }
  img{
    width: 520px;
  }
}
@media only screen and (max-width: 931px){
  .sideBox{
    width: 660px;
  }
  .introBox{
    width: 460px;
  }
  .headerBox2{
    width: 460px
  }
  .introduction{
    font-size: 50px;
    margin-top: 240px;
  }
  img{
    width: 360px;
    height: 400px
  }

}
@media only screen and (max-width: 575px){
  .sideBox{
    width: 410px;
  }
  
  .headerBox2{
    width: 180px;
    position: relative;
    grid-column: 2/3;
  }
  .introBox{
    grid-column: 2/4;
    width: 180px;
  }
  .introduction{
    font-size: 30px;
    right: 370px;
    bottom: 230px;
  }
  .thingsDesigned{
    grid-column: 1/2;
    right: 40px;
  }
  .arrow{
    right: 130px;
  }
  img{
    width: 180px;
    height: 200px;
    margin-top: 75px;
  }
  .boxTitle{
    font-size: 40px;
  }
  .aboutPara{
    font-size: 15px;
  }

}

