body{
    background-color: #111111;
}

h1{
    color: #E2E80F;
    text-align: center;
    font-size: larger;

}

p{
    color: #eeeeee;
    font-size: 15px;
    line-height: 25px;
}

p .credits{
    color: blue;
    text-decoration: underline;
    cursor: pointer;
}

#film-description{
  font-size: smaller;  
  font-style: italic;
}