.App {
  text-align: center;

}

.main-background{
  background-color: rgb(218, 125, 140);
  height: 850px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  
}
.main-title{
  grid-column: 2/3;
  grid-row: 1/2;
  color: whitesmoke;
  font-size: 30px;
  margin-left: 10px;
  margin-top: 100px;
  position: relative;
}
.start-button{
  background-color: rgb(156, 38, 17);
  color: whitesmoke;
  height: 50px;
  width: 300px;
  border: none;
  font-size: 20px;
  border-radius: 20px;
  outline: 0px
}
.david-bowie{
  width: 300px;
  grid-column: 1/2;
  grid-row: 1/2;
  padding: 20px;
  border: 10px solid whitesmoke;
}
.led-zeppelin{
  width: 300px;
  grid-column: 2/3;
  grid-row: 2/3;
  padding: 20px;
  margin-left: 80px;
  border: 10px solid whitesmoke;
  position: relative;

}
.beatles{
  width: 300px;
  grid-column: 3/4;
  grid-row: 1/2;
  padding: 20px;
  margin-left: 140px;
  border: 10px solid whitesmoke;
  position: relative;

}
.pink-floyd{
  width: 300px;
  grid-column: 3/4;
  grid-row: 2/3;
  padding: 20px;
  margin-bottom: 40px;
  margin-left: 110px;
  border: 10px solid whitesmoke;
  position: relative;

}
.black-sabbath{
  width: 300px;
  grid-column: 1/2;
  grid-row: 2/3;
  padding: 20px;
  margin-left: 50px;
  border: 10px solid whitesmoke;
  position: relative;

  
}
.links{
  background-color: rgb(218, 125, 140);
}
.page-links{
  padding: 100px;
  text-decoration: none;
  color: rgb(156, 38, 17);
  font-size: 30px;
}
.question-page{
  background-color: rgb(92, 92, 245);
  height: 820px;
}
button{
  background-color:rgb(156, 38, 17) ;
  color: whitesmoke;
  height: 100%;
  width: 300px;
  border: none;
  font-size: 20px;
}
.points{
  color: whitesmoke;
}
.question-prompt{
  color: whitesmoke
}
.next-question{
  background-color: rgb(218, 125, 140);
  height: 50px;
}
.results-page{
  background-color:rgb(156, 38, 17) ;
  color: whitesmoke;
  height: 820px;

}
.points1{
  color: rgb(92, 92, 245);
  font-size: 40px;
}
.quick-results{
  margin: 10px;
  height: 50px;
  background-color: rgb(218, 125, 140);
  color: white;
}

@media only screen and (max-width: 800px){
  .page-links{
    padding: 60px;
  }
  .david-bowie{
    width: 170px;
    margin-top: 80px;
    margin-left:40px ;
  }
  .led-zeppelin{
    width: 150px;
    margin-top: 80px;
    right: 70px
  }
  .beatles{
    width: 170px;
    margin-top: 80px;
    right: 200px;
  }
  .pink-floyd{
    width: 170px;
    margin-top: 80px;
    right: 170px;
    
  }
  .black-sabbath{
    width: 170px;
    margin-top: 80px;
    
    margin-left: 40px;
  }
  .main-title{
    font-size: 20px;
    right: 40px;
  }
}

